<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiuxianqiao.txq"
    android:versionCode="1"
    android:versionName="1.0" >

    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false" >
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 全屏 -->
        <!-- android:theme="@android:style/Theme.NoTitleBar" 实现无标题栏（但有系统自带的任务栏） -->
        <activity
            android:name="com.jiuxianqiao.txq.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
